<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://whereismyorderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c997696-5169-4fe9-afa7-3a0b4ad895f7/resourceGroups/portfolio/providers/Microsoft.Web/sites/WhereIsMyOrderAPI</ResourceId>
    <UserName>$WhereIsMyOrderAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://whereismyorderapi.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>